$color_primary: #FF444F;
$color_primary_text: #FFFFFF;
$color_primary_light_text: #AAAAAA;
$color_secondary_text: #6AD3E8;

$color_lightest_gray: #EFEFEF;
$color_lighter_gray: #DDDDDD;
$color_light_gray: #AAAAAA;
$color_medium_gray: #999999;
$color_dark_gray: #333333;

// Fonts
$font_main: Lato;
$font_sans_serif: sans-serif;
$font_header: Droid Sans;
$font_cursive: cursive;

html {
    height: 100%;
}

body {
    background: $color_primary;
    color: $color_primary_text;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: $font_main, $font_sans_serif;
    font-weight: 300;
    font-size: 18px;
}

h1 {
    color: $color_secondary_text;
    font-family: $font_header, $font_cursive;
    font-weight: 700;
    font-size: 5vw;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

a {
    color: $color_primary_text;

    &:hover, &:focus {
        color: $color_primary_light_text;
        text-decoration: none;
    }
}

.content {
    margin: auto;
    width: 60%;
}

.done {
    text-decoration: line-through;
    color: $color_lightest_gray;
}

.back {
    float: left;
    margin-left: 20px;
}

.proof {
    color: black;
    padding: 40px;

    a {
        color: $color_primary;

        &:hover, &:focus {
            color: $color_primary;
            text-decoration: none;
        }
    }

    .image-container {
        max-width: 500px;
        padding: 8px;
        background: white;
        border-radius: 4px;

        margin-left: auto;
        margin-right: auto;

        -webkit-box-shadow: 0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
        -moz-box-shadow:    0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
        box-shadow:         0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

        img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    }

    p {
        text-align: left;
    }

    .date {
        color: $color_medium_gray;
    }

    .instagram-media {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.badass-button {
    padding: 15px 27px;
    font-size: 17px;
    display: inline-block;
    background-color: #f66049;
    color: white;
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 22px;
    box-shadow: 0px -3px 0px rgba(0,0,0,0.2) inset;
    font-family: BrandonGrotesqueBlack, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {

    .content {
        width: 100%;
    }
}