//colors
$color_white: #FFFFFF;
$color_lightest_gray: #EFEFEF;
$color_lighter_gray: #DDDDDD;
$color_light_gray: #AAAAAA;
$color_medium_gray: #999999;
$color_dark_gray: #333333;
$color_black: #000000;

$color_dark_magenta: #57102C;
$color_magenta: #AA2159;
$color_dark_cyan: #009D97;
$color_super_dark_cyan: #025D59;
$color_light_cyan: #7EC2AA;
$color_dark_lime_green: #67B913;
$color_super_dark_lime_green: #335c0a;
$color_light_lime_green: #ccf5a3;

$color_about_me: $color_magenta;
$color_work_experience: $color_dark_lime_green;
$color_education: $color_dark_lime_green;
$color_technical_skills: $color_super_dark_lime_green;
$color_projects: $color_light_cyan;
$color_contact: $color_dark_magenta;

$color_about_me_gradient: #4A2232;

$color_header_light: $color_white;
$color_text_light: $color_lightest_gray;
$color_header_dark: $color_black;
$color_text_dark: $color_dark_gray;

$color_navbar: $color_white;
$color_navbar_text: $color_black;

$color_footer: $color_medium_gray;
$color_footer_text: $color_dark_gray;
$color_footer_link: $color_dark_magenta;

//fonts
$font_main: Lato;
$font_sans_serif: sans-serif;
$font_header: Lobster Two;
$font_cursive: cursive;

// @extend-elements
// original selectors
// .project >.image >img, .overlay
.fullImage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.shadow {
    -webkit-box-shadow: 0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.arrowButton {
    @extend .shadow;
    background: $color_white;
    color: $color_super_dark_cyan;
    width: 40px;
    height: 40px;
    font-size: 26px;
    border-radius: 50%;
    z-index: 10;
    padding-top: 2px;
    position: absolute;
    margin-top: 100px;
    overflow: hidden;
}

body {
	margin: 0;
	font-family: $font_main, $font_sans_serif;
	font-size: 18px;
	background: $color_lightest_gray;
}

h1 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

h2 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

h3 {
    padding: 0;
	margin: 0;
	font-weight: bold;
}

a {
	color: $color_dark_gray;

	&:visited {
		color: $color_dark_gray;
	}

	&:hover {
		text-decoration: none;
		color: $color_light_gray;
	}

	> span {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.note {
	font-size: 12px;
	padding: 20px 40px 0px 40px;
	margin: 0px;
	text-align: right;

}

.navbar {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	@extend .shadow;
	border-radius: 0;
	border: none;
	border-bottom: thick solid $color_dark_magenta;
	background-color: $color_navbar;
	color: $color_white;

    .navbar-content {
        width: 70%;
        margin: auto;
    }

    .navbar-toggle {
    	margin-right: 0px;
    }

	.navbar-nav {
	    .a {
	        font-weight: bold;
	    }

	    .nav-about > a {
	        color: $color_about_me;
	        &:hover {
                color: $color_about_me;
                background-color: $color_lightest_gray;
            }
	    }
	    .nav-experience > a {
	    	color: $color_work_experience;
			&:hover {
				color: $color_work_experience;
				background-color: $color_lightest_gray;
			}
	    }
        .nav-work > a {
            color: $color_work_experience;
            &:hover {
                color: $color_work_experience;
                background-color: $color_lightest_gray;
            }
        }
        .nav-education > a {
            color: $color_education;
            &:hover {
                color: $color_education;
                background-color: $color_lightest_gray;
            }
        }
        .nav-technical > a {
			color: $color_technical_skills;
			&:hover {
				color: $color_technical_skills;
				background-color: $color_lightest_gray;
			}
		}
        .nav-projects > a {
            color: $color_projects;
            &:hover {
                color: $color_projects;
                background-color: $color_lightest_gray;
            }
        }
        .nav-contact > a {
            color: $color_contact;
            &:hover {
                color: $color_contact;
                background-color: $color_lightest_gray;
            }
        }

	}

	.navbar-brand {
        padding-left: 0px;
        color: $color_dark_magenta;
        font-size: 30px;
        font-family: $font_header, $font_cursive;

        &:hover {
            color: $color_dark_magenta;
        }
	}
}

.section {
	.sectionBody {
		padding-top: 40px;
		padding-bottom: 40px;

		.headerUnderline {
		    margin: 15px auto 0px auto;
            background: $color_black;
            height: 4px;
            width: 80px;
		}
	}

	.content {
		margin: auto;
		width: 60%;
		padding-top: 20px;
	}

	h2 {
		width: 70%;
		margin: auto;
	}

	ul {
		padding-left: 24px;
	}
}

#aboutMe {
	background: -webkit-linear-gradient($color_about_me, $color_about_me_gradient); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color_about_me, $color_about_me_gradient); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color_about_me, $color_about_me_gradient); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color_about_me, $color_about_me_gradient); /* Standard syntax */

	padding-bottom: 100px;
	color: $color_text_light;

	h1 {
		text-align: center;
		font-size: 80px;
		font-family: $font_header, $font_sans_serif;
	}

	h2 {
		text-align: center;
		font-size: 50px;
		font-family: $font_header, $font_sans_serif;
	}

	h4 {
	    font-weight: bold;
	    color: $color_header_light;
	}

	.content-left {
	    text-align: right;
	    padding-top: 30px;
	}

	.content-right {
        padding-top: 30px;
    }

    .content {
        padding-top: 0px;
        width: 80%;
    }

	.sm-profile {
		width: 60%;
		margin: auto;
		display: block;
		min-width: 100px;
		border-radius: 50%;
	}

	.profile {
    	width: 100%;
    	border-radius: 50%;
    }
}

#projects {
	color: $color_text_dark;
	margin-top: -100px;

	h2 {
	    text-align: center;
		color: $color_header_dark;
	}

    .sectionBody {
		@extend .shadow;
        width: 65%;
        margin: auto;
        background: $color_projects;
        padding-top: 20px;
        padding-bottom: 20px;

        .content {
            width: 100%;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .previous {
            @extend .arrowButton;
            margin-left: -20px;
            padding-left: 8px;
        }

        .next {
            @extend .arrowButton;
            margin-left: -20px;
            padding-left: 13px;
        }
    }

	.project {
		/*
    	padding: 10px;
    	color: $color_black;
    	white-space: normal;
    	*/

    	> h3 {
    		color: $color_black;
    		padding-bottom: 10px;
    		text-align: center;
    	}

    	a {
    		color: $color_super_dark_cyan;
    		float: right;

    		&:hover {
				color: $color_dark_gray;
			}
			&:visited {
				color: $color_super_dark_cyan;
			}
    	}


    }
/*
    .projectNavigation {
    	text-align: center;

    	a {
			color: $color_super_dark_cyan;

			&:hover {
				color: $color_super_dark_cyan;
			}
			&:visited {
				color: $color_super_dark_cyan;
			}
		}
    }
    */
}

#technicalSkills {
	h2 {
		padding-left: 40px;
		width: 100%;
		color: $color_super_dark_lime_green;
	}

	h3 {
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.bar {
		width: 1%;
		height: 300px;
		margin-top: 100px;
		background: $color_light_lime_green;
		z-index: -98;
	}
	.bar-shadow {
		@extend .shadow;
		width: 10%;
		height: 300px;
		margin-top: 100px;
		background: $color_light_lime_green;
		z-index: -99;
	}

	.bar-left {
		float: left;
	}
	.bar-right {
		float: right;
	}

	.sectionBody {
		@extend .shadow;
		width: 80%;
		/*max-width: 1000px;*/
		margin: auto;
		background: $color_light_lime_green;

		.content {
			width: 90%;
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.skillLabel {
	margin-left: 20px;
}

.skillStrength {
	color: $color_super_dark_lime_green;
	font-size: 18px;
	float: right;
	margin-right: 20px;
}

#workExperience {
	color: $color_text_dark;

	h2 {
		color: $color_work_experience;
	}

}

#education {
	color: $color_text_dark;

	h2 {
		color: $color_education;
	}
}

#contact {
	background: $color_contact;
	color: $color_text_light;

	h2 {
		color: $color_header_light;
	}

	.contact {
    	font-size: 20px;
    	padding: 20px;

    	> a {
    	    color: $color_white;

            > i {
                font-size: 70px;
            }
    	}
    }
}

.overlay {
	@extend .fullImage;
	padding: 10px;
	background-color: $color_work_experience;
	opacity: 0.85;
}

footer {
	padding: 15px;
	background: $color_footer;
	color: $color_footer_text;
	text-align: center;

	.footerLink > i {
    	font-size: 25px;
    	color: $color_footer_link;
    	margin: 10px;

    	&:visited {
			color: $color_footer_link;
		}
    }

	> p {
		margin: 0;
		font-size: 14px;

		> a {
			color: $color_footer_link;

			&:visited {
				color: $color_footer_link;
			}
		}
	}
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 60%;
    margin: auto;
    padding-top: 20px;
	padding-bottom: 20px;

	ul {
        width: 1200px;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        width: 600px;
    }


}

.jcarousel-wrapper {
    position: relative;
}

/** Carousel Controls **/

.jcarousel-control {
	@extend .shadow;
	border-radius: 50%;
	background: $color_white;
	color: $color_super_dark_cyan;
	width: 40px;
	height: 40px;
	font-size: 26px;

	z-index: 10;
	padding-top: 2px;
	position: absolute;
	top: 120px;

	&:visited {
		color: $color_super_dark_cyan;
	}
}

.jcarousel-control-prev {
	@extend .jcarousel-control;
	left: -20px;
	padding-left: 8px;

	&:hover span {
		display: block;
	}

	&.inactive {
         opacity: .5;
         cursor: default;
     }
}

.jcarousel-control-next {
	@extend .jcarousel-control;
	right: -20px;
	padding-left: 13px;

	&:hover span {
		display: block;
	}

	&.inactive {
		 opacity: .5;
		 cursor: default;
	 }
}

.jcarousel-pagination {
    position: absolute;
    left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	bottom: -20px;
	margin: 0;

	a {
        text-decoration: none;
        display: inline-block;
    	margin: 3px;

    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	border: 3px solid $color_super_dark_cyan;

    	&.active {
            color: $color_dark_cyan;
            background: $color_super_dark_cyan;
        }
    }
}

@media only screen and (max-width: 1200px) {
	.navbar {
		.navbar-content {
			width: 90%;
		}
	}
}

@media only screen and (max-width: 768px) {

    .section {

        .content {
            width: 90%;
        }

        h2 {
            width: 95%;
        }

        h3 {
            font-size: 20px;

        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 16px;
        }

        h5 {
            font-size: 14px;
        }

        p, li {
            font-size: 14px;
        }
    }

	#aboutMe {
		h1 {
			font-size: 40px;
		}

		h2 {
			font-size: 30px;
		}

		.content-left {
			text-align: left;
			padding-top: 0px;
		}

		.content-right {
			padding-top: 0px;
		}
	}

	#projects {
        h3 {
            font-size: 20px;
        }
		.sectionBody {
        	width: 85%;
		}
	}



	.jcarousel {
        width: 85%;
	}
}