<div class="sectionBody">
  <h2 class="header">Contact Me</h2>
  <div class="contact">
    <!-- Icons by Icons8 -->
    <div>
      <a href="https://github.com/nicoleblumhorst">
        <i class="fa fa-github"></i>
      </a>
    </div>

    <div>
      <a href="https://www.linkedin.com/in/nicoleblumhorst">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </div>

    <div>
      <a href="mailto:nicoleblumhorst@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </div>
</div>
