<h1>Nicole V. Blumhorst</h1>
<h2>Software Engineer</h2>

<div class="content">
    <div class="left">
        <p><label>Employeer: </label>Enterprise Holdings Inc.</p>
        <p><label>Title: </label>Software Engineer 3</p>
        <p><label>Current Location: </label>St. Peters, Missouri</p>
        <p><label>Birthday: </label>July 2nd</p>
        <p><label>Hogwarts House: </label>Gryffindor</p>
        <p><label>Favorite Phone OS: </label>Android</p>
    </div>
    <img class="profile" src="../../../assets/profile.jpg">
    <div class="right">
        <label>About Me</label>
        <p>I love developing clean, user friendly UIs (mobile and web), but I've worked on a few RESTful APIs, too.  
            When I am not at work I spend my time practicing my roller derby minimum skills so I can finally get on 
            the track during a match, rewatching Avatar: The Last Airbender, and hanging out with my wife and stepdaughter.
        </p>
    </div>
</div>
