h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 5vw;
    margin: 20px 0px;
}

.content {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background-color: #379683;

    label {
        font-weight: bold;
        color: lightgray;
    }

    .left {
        text-align: right;
    }

    .right {
        text-align: left;
    }

    div {
        flex: 1 1 0px;
        margin: 0px 10px;
    }

    h4 {
        font-weight: bold;
    }

    .profile {
		margin: auto;
		display: block;
		min-width: 100px;
		border-radius: 50%;
	}
}
