.fullImage, .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.shadow, .arrowButton, #projects .sectionBody .previous, #projects .sectionBody .next, .navbar, #projects .sectionBody, #technicalSkills .bar-shadow, #technicalSkills .sectionBody, .jcarousel-control, .jcarousel-control-prev, .jcarousel-control-next {
  -webkit-box-shadow: 0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.arrowButton, #projects .sectionBody .previous, #projects .sectionBody .next {
  background: #FFFFFF;
  color: #025D59;
  width: 40px;
  height: 40px;
  font-size: 26px;
  border-radius: 50%;
  z-index: 10;
  padding-top: 2px;
  position: absolute;
  margin-top: 100px;
  overflow: hidden; }

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  background: #EFEFEF; }

h1 {
  padding: 0;
  margin: 0;
  font-weight: bold; }

h2 {
  padding: 0;
  margin: 0;
  font-weight: bold; }

h3 {
  padding: 0;
  margin: 0;
  font-weight: bold; }

a {
  color: #333333; }
  a:visited {
    color: #333333; }
  a:hover {
    text-decoration: none;
    color: #AAAAAA; }
  a > span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }

.navbar {
  border-radius: 0;
  border: none;
  border-bottom: thick solid #57102C;
  background-color: #FFFFFF;
  color: #FFFFFF; }
  .navbar .navbar-content {
    width: 70%;
    margin: auto; }
  .navbar .navbar-toggle {
    margin-right: 0px; }
  .navbar .navbar-nav .a {
    font-weight: bold; }
  .navbar .navbar-nav .nav-about > a {
    color: #AA2159; }
    .navbar .navbar-nav .nav-about > a:hover {
      color: #AA2159;
      background-color: #EFEFEF; }
  .navbar .navbar-nav .nav-experience > a {
    color: #67B913; }
    .navbar .navbar-nav .nav-experience > a:hover {
      color: #67B913;
      background-color: #EFEFEF; }
  .navbar .navbar-nav .nav-work > a {
    color: #67B913; }
    .navbar .navbar-nav .nav-work > a:hover {
      color: #67B913;
      background-color: #EFEFEF; }
  .navbar .navbar-nav .nav-education > a {
    color: #67B913; }
    .navbar .navbar-nav .nav-education > a:hover {
      color: #67B913;
      background-color: #EFEFEF; }
  .navbar .navbar-nav .nav-technical > a {
    color: #335c0a; }
    .navbar .navbar-nav .nav-technical > a:hover {
      color: #335c0a;
      background-color: #EFEFEF; }
  .navbar .navbar-nav .nav-projects > a {
    color: #7EC2AA; }
    .navbar .navbar-nav .nav-projects > a:hover {
      color: #7EC2AA;
      background-color: #EFEFEF; }
  .navbar .navbar-nav .nav-contact > a {
    color: #57102C; }
    .navbar .navbar-nav .nav-contact > a:hover {
      color: #57102C;
      background-color: #EFEFEF; }
  .navbar .navbar-brand {
    padding-left: 0px;
    color: #57102C;
    font-size: 30px;
    font-family: Lobster Two, cursive; }
    .navbar .navbar-brand:hover {
      color: #57102C; }

.section .sectionBody {
  padding-top: 40px;
  padding-bottom: 40px; }
  .section .sectionBody .headerUnderline {
    margin: 15px auto 0px auto;
    background: #000000;
    height: 4px;
    width: 80px; }
.section .content {
  margin: auto;
  width: 60%;
  padding-top: 20px; }
.section h2 {
  width: 70%;
  margin: auto; }
.section ul {
  padding-left: 24px; }

#aboutMe {
  background: -webkit-linear-gradient(#AA2159, #4A2232);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#AA2159, #4A2232);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#AA2159, #4A2232);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#AA2159, #4A2232);
  /* Standard syntax */
  padding-bottom: 100px;
  color: #EFEFEF; }
  #aboutMe h1 {
    text-align: center;
    font-size: 80px;
    font-family: Lobster Two, sans-serif; }
  #aboutMe h2 {
    text-align: center;
    font-size: 50px;
    font-family: Lobster Two, sans-serif; }
  #aboutMe h4 {
    font-weight: bold;
    color: #FFFFFF; }
  #aboutMe .content-left {
    text-align: right;
    padding-top: 30px; }
  #aboutMe .content-right {
    padding-top: 30px; }
  #aboutMe .content {
    padding-top: 0px;
    width: 80%; }
  #aboutMe .sm-profile {
    width: 60%;
    margin: auto;
    display: block;
    min-width: 100px;
    border-radius: 50%; }
  #aboutMe .profile {
    width: 100%;
    border-radius: 50%; }

#projects {
  color: #333333;
  margin-top: -100px;
  /*
      .projectNavigation {
      	text-align: center;
  
      	a {
  			color: $color_super_dark_cyan;
  
  			&:hover {
  				color: $color_super_dark_cyan;
  			}
  			&:visited {
  				color: $color_super_dark_cyan;
  			}
  		}
      }
      */ }
  #projects h2 {
    text-align: center;
    color: #000000; }
  #projects .sectionBody {
    width: 65%;
    margin: auto;
    background: #7EC2AA;
    padding-top: 20px;
    padding-bottom: 20px; }
    #projects .sectionBody .content {
      width: 100%;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px; }
    #projects .sectionBody .previous {
      margin-left: -20px;
      padding-left: 8px; }
    #projects .sectionBody .next {
      margin-left: -20px;
      padding-left: 13px; }
  #projects .project {
    		/*
        	padding: 10px;
        	color: $color_black;
        	white-space: normal;
        	*/ }
    #projects .project > h3 {
      color: #000000;
      padding-bottom: 10px;
      text-align: center; }
    #projects .project a {
      color: #025D59;
      float: right; }
      #projects .project a:hover {
        color: #333333; }
      #projects .project a:visited {
        color: #025D59; }

#technicalSkills h2 {
  width: 90%;
  color: #335c0a; }
#technicalSkills h3 {
  margin-top: 20px;
  margin-bottom: 5px; }
#technicalSkills .bar-shadow-cover {
  width: 1%;
  height: 300px;
  margin-top: 100px;
  background: #ccf5a3;
  z-index: -98; }
  #technicalSkills .bar-shadow-cover.bar-left {
    margin-left: -1px; }
  #technicalSkills .bar-shadow-cover.bar-right {
    margin-right: -1px; }
#technicalSkills .bar-shadow {
  width: 10%;
  height: 300px;
  margin-top: 100px;
  background: #ccf5a3;
  z-index: -99; }
#technicalSkills .bar-left {
  float: left; }
#technicalSkills .bar-right {
  float: right; }
#technicalSkills .sectionBody {
  width: 80%;
  /*max-width: 1000px;*/
  margin: auto;
  background: #ccf5a3; }
  #technicalSkills .sectionBody .content {
    width: 90%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; }
  #technicalSkills .sectionBody .row .content {
    width: 100%;
    max-width: 400px;
    padding-top: 0px; }
  #technicalSkills .sectionBody .skillStrength {
    color: #335c0a;
    font-size: 18px;
    text-align: right; }
  #technicalSkills .sectionBody .skillUnderline {
    margin: 1px auto 1px auto;
    background: #AAAAAA;
    height: 1px;
    width: 98%; }
  #technicalSkills .sectionBody .note {
    font-size: 12px;
    margin: 0px;
    text-align: right; }

#workExperience {
  color: #333333; }
  #workExperience h2 {
    color: #67B913; }

#education {
  color: #333333; }
  #education h2 {
    color: #67B913; }

#contact {
  background: #57102C;
  color: #EFEFEF; }
  #contact h2 {
    color: #FFFFFF; }
  #contact .contact {
    font-size: 20px;
    padding: 20px; }
    #contact .contact > a {
      color: #FFFFFF; }
      #contact .contact > a > i {
        font-size: 70px; }

.overlay {
  padding: 10px;
  background-color: #67B913;
  opacity: 0.85; }

footer {
  padding: 15px;
  background: #999999;
  color: #333333;
  text-align: center; }
  footer .footerLink > i {
    font-size: 25px;
    color: #57102C;
    margin: 10px; }
    footer .footerLink > i:visited {
      color: #57102C; }
  footer > p {
    margin: 0;
    font-size: 14px; }
    footer > p > a {
      color: #57102C; }
      footer > p > a:visited {
        color: #57102C; }

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .jcarousel ul {
    width: 1200px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
  .jcarousel li {
    float: left;
    width: 600px; }

.jcarousel-wrapper {
  position: relative; }

/** Carousel Controls **/
.jcarousel-control, .jcarousel-control-prev, .jcarousel-control-next {
  border-radius: 50%;
  background: #FFFFFF;
  color: #025D59;
  width: 40px;
  height: 40px;
  font-size: 26px;
  z-index: 10;
  padding-top: 2px;
  position: absolute;
  top: 120px; }
  .jcarousel-control:visited, .jcarousel-control-prev:visited, .jcarousel-control-next:visited {
    color: #025D59; }

.jcarousel-control-prev {
  left: -20px;
  padding-left: 8px; }
  .jcarousel-control-prev:hover span {
    display: block; }
  .jcarousel-control-prev.inactive {
    opacity: .5;
    cursor: default; }

.jcarousel-control-next {
  right: -20px;
  padding-left: 13px; }
  .jcarousel-control-next:hover span {
    display: block; }
  .jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default; }

.jcarousel-pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: -20px;
  margin: 0; }
  .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #025D59; }
    .jcarousel-pagination a.active {
      color: #009D97;
      background: #025D59; }

@media only screen and (max-width: 1200px) {
  .navbar .navbar-content {
    width: 95%; } }
@media only screen and (max-width: 768px) {
  .section .content {
    width: 90%; }
  .section h2 {
    width: 95%; }
  .section h3 {
    font-size: 20px; }
  .section h4 {
    font-size: 16px; }
  .section h5 {
    font-size: 14px; }
  .section p, .section li, .section span {
    font-size: 14px; }

  #aboutMe h1 {
    font-size: 40px; }
  #aboutMe h2 {
    font-size: 30px; }
  #aboutMe .content-left {
    text-align: left;
    padding-top: 0px; }
  #aboutMe .content-right {
    padding-top: 0px; }

  #projects h3 {
    font-size: 20px; }
  #projects .sectionBody {
    width: 85%; }

  #technicalSkills .bar-shadow {
    width: 5%; }
  #technicalSkills .sectionBody {
    width: 90%;
    font-size: 16px; }
    #technicalSkills .sectionBody .content {
      width: 95%;
      padding-left: 10px;
      padding-right: 10px; }
  #technicalSkills .note {
    font-size: 10px; }

  .jcarousel {
    width: 85%; } }

/*# sourceMappingURL=resume.css.map */
