
h1 {
    color: #ffffff;
    font-family: 'Cinzel Decorative', cursive;
    font-size: xx-large;
    margin-top: 20px;
}
  
ul {
    padding-left: 0px;
    list-style-type: none; 
}
  
a {
    &:hover, &:focus {
        color: #AAAAAA;
        text-decoration: none; 
    }
}
  
.done {
    text-decoration: line-through;
    color: #EEEEEE; 
}
  