@font-face {
    font-family: 'Sentinel';
    src: url('Sentinel.ttf');
}

body {
    font-family: 'Oswald', serif;
    margin-top: -20px;
}
h1   {
    font-family: 'Sentinel', sans-serif;
    color: black;
    text-align: center;
    font-size: 100px;
}
h2   {
    color: black;
    text-align: center;
    font-size:50px;
}

header {
	background: -webkit-linear-gradient(#D60015, #94011E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#D60015, #94011E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#D60015, #94011E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#D60015, #94011E); /* Standard syntax */
}

@media only screen and (max-width: 768px) {
  h1   {
      font-size: 50px;
  }
  h2   {
      color: black;
      text-align: center;
      font-size:30px;
  }
}